---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex-trakt-sync
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      plex-trakt-sync:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/taxel/plextraktsync
              tag: 0.34.21@sha256:9a194380386f629df38e886f843825f4ef6e44389d8f2a0948ad5c97aa282271
            args:
              - watch
            env:
              PLEX_BASEURL: http://plex.media.svc.cluster.local:32400
              PLEX_LOCALURL: http://plex.media.svc.cluster.local:32400
              PLEX_USERNAME: hilds
              TRAKT_USERNAME: hilds
            probes:
              liveness: &probes
                enabled: false
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/config
      config-yaml:
        name: plex-trakt-sync
        type: configMap
        globalMounts:
          - path: /app/config/config.yml
            subPath: config.yml
            readOnly: true
