---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lspd-application
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      lspd-application:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/spiizor/lspdapplication
              tag: main@sha256:93e8c1b96e4fe0682200f8f916b0646c2f83d62bb19f13c7260cbd5aa6b58495
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 200Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
    service:
      app:
        ports:
          http:
            port: 3000
    route:
      app:
        hostnames:
          - "portal.${SECRET_DOMAIN_2}"
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https-2
    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          lspd-application:
            app:
              - path: /tmp
                subPath: tmp
