---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: notifiarr
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      notifiarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/notifiarr/notifiarr
              tag: v0.9.2@sha256:738d7e1421c18960884b09a5026871a112119910af9f6e4743e8d2cdbbe59e8b
            env:
              TZ: Europe/Oslo
              DN_RADARR_0_URL: http://radarr-hd.media.svc.cluster.local
              DN_RADARR_1_URL: http://radarr-uhd.media.svc.cluster.local
              DN_SONARR_0_URL: http://sonarr-hd.media.svc.cluster.local
              DN_SONARR_1_URL: http://sonarr-uhd.media.svc.cluster.local
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: false
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 50Mi
    defaultPodOptions:
      hostname: notifiarr-talos
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
