---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: n8n
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      n8n:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/n8n-io/n8n
              tag: 2.3.0@sha256:86818ab591423129251677c49e290ea0b9d2c757dc150a16d15ec207e09b102d
            env:
              DB_SQLITE_VACUUM_ON_STARTUP: true
              EXECUTIONS_TIMEOUT: 600
              EXECUTIONS_DATA_MAX_AGE: 7
              EXECUTIONS_DATA_PRUNE_MAX_COUNT: 50000
              GENERIC_TIMEZONE: Europe/Oslo
              N8N_EDITOR_BASE_URL: "https://{{ .Release.Name }}.${SECRET_DOMAIN}"
              N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: false
              N8N_VERSION_NOTIFICATIONS_ENABLED: false
              N8N_HIRING_BANNER_ENABLED: false
              N8N_METRICS: true
              N8N_LOG_FORMAT: json
              N8N_PORT: &port 80
              N8N_PROTOCOL: https
              N8N_PROXY_HOPS: 1
              N8N_ENCRYPTION_KEY:
                valueFrom:
                  secretKeyRef:
                    name: n8n-secret
                    key: N8N_ENCRYPTION_KEY
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 500Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
      api:
        hostnames:
          - "{{ .Release.Name }}-api.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - matches:
              - path:
                  value: /api
            backendRefs: [{}]
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          n8n:
            app:
              - path: /home/node/.n8n
      cache:
        type: emptyDir
        globalMounts:
          - path: /home/node/.cache