---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: krisbot
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 1h
  values:
    controllers:
      krisbot:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/kwissss/krisbot
              tag: main@sha256:ea86a7f32eb197f3d0cebcb981dba4259ef5813f93a16cd3d805c2291ecb5ac9
            env:
              DISCORD_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: krisbot-discord-secret
                    key: DISCORD_TOKEN
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 25Mi
    defaultPodOptions:
      imagePullSecrets:
        - name: ghcr-auth-secret
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534

